
:root{
  --primary:#8031A7;
  --green:#33AA5A;
  /* --orange:#E6A8A8; */
  --black:#252525;
  --white:#fff
}
.app-container{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* quiz detail section */
.detail-section{
  width: 60%;
}
.action-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.text-link{
  color:var(--black)
}
.right{

}