:root {
  --primary: #8031A7;
  --primary_5: #b27ccd;
  --primary_2: #f3daff;
  --green: #33AA5A;
  /* --orange:#E6A8A8; */
  --black: #252525;
  --white: #fff;
  --off-white: #f8f8f8;
  --blue: #1da1f2;

  --orange: #ffa500;
  --success-text: #4caf50;
  --red: #ea4355;
  --error-text: #F44336;
  --off-black: #333;
  --white: #fff;

  /* size */
  --xs: 0.5rem;
  --normal: 1rem;
  --sm: 1.5rem;
  --md: 2rem;
  --lg: 3rem;
  --xlg: 5rem;
  --xxlg: 7rem;
  /* Shadow */
  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.app-container {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* quiz detail section */
.detail-section {
  width: 60%;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.action-container ul {
  list-style-type: none;
  padding: 0;
}

/* .left {} */

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.text-link {
  color: var(--black)
}
.rating_container{
  margin-bottom: var(--normal);
}
.rating_container .sub_title {
  margin: 0;
}

.enrolled-showcase {
  position: relative;
}

.enrolled-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  background-color: var(--primary_5);
}

.star-icon {
  width: 20px;
  height: 20px;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  justify-content: center;
  align-items: center;
}

.modal-inner-box {
  background-color: #fff;
  padding: 20px 30px;
  position: relative;
  min-width: 30%;
  max-width: 95%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin: 10px 0;
}

.modal-img-container {
  background-color: var(--primary_2);
  padding: 7px;
  border-radius: 50%;
  margin-right: 15px;
  /* display: flex; */
}

.modal-icon {
  width: 25px;
  height: 25px;
}
.modal-inner-box .heading{
  font-size: 25px;

}
.modal-heading {
  font-size: 20px;
  margin: 0;
}

.modal-p {
  margin: 0;
}

.button {
  background-color: var(--primary);
  padding: 5px 25px;
  margin-right: 10px;
  outline: none;
  border: 1px solid var(--primary);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.questions {
  background-color: var(--off-white);
  /* border-left: 5px solid var(--blue); */
  width: 80%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;

}

.questions h2 {
  text-align: center;
  font-weight: lighter;
}


.questions .lifeline-container {
  display: flex;
  justify-content: space-between;
}

.questions .lifeline {
  position: relative;
  top: -3px;
}

.questions .lifeline-icon {
  color: var(--green);
  cursor: pointer;
}

.questions .lifeline-icon:hover {
  background: none;
  color: darken(var(--orange), 10%);
}

.questions h5 {
  font-size: 1.2rem;
  /* margin-bottom: var(--lg); */
  line-height: 1.5;
  text-align: center;
}

.options-body {
  display: flex;
  flex-direction: row;
}

.questions .options-container {
  display: inline-block;
  width: 50%;
}

.questions .option {
  /* background-color: var(--primary);
  color: var(--white); */
  cursor: pointer;
  margin: var(--md) auto;
  padding: var(--normal);
  transition: 0.3s linear all;
  text-align: center;
  width: 90%;
  box-shadow: var(--shadow);
}

.questions .option:hover {
  background-color: darken(var(--blue), 20%);
}

.button-container {
  display: flex;
  justify-content: center;
  /*  margin: 0 auto var(--sm) auto;
  padding: var(--md); */
  width: 100%;
  margin-top: 0;
}

.button-container button {
  border: none;
  color: var(--off-white);
  cursor: pointer;
  margin-right: var(--md);
  padding: var(--xs) var(--sm);
}

.button-container button:first-child {
  background-color: var(--primary);
  box-shadow: var(--shadow);
  transition: 0.2s linear all
}

.button-container button:first-child:hover {
  background-color: var(--green);
}



.timer-container span {
  /* background-color: var(--primary_5);
  color: var(--white); */
  min-height: 25px;
  padding: 0 5px;
  min-width: 50px;
  text-align: center;
}

.timer-container p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .timer-container .left {
   display: flex;
  justify-content: space-between;
  align-items: center; 
} */


/* ***************************************************************************** */
.quiz-summary {
  font-family: var(--quicksand);
}

.quiz-summary span.success-icon {
  color: var(--green);
  font-size: var(--xxlg);
}

.quiz-summary h1 {
  color: var(--green);
  text-align: center;
  font-size: var(--md);
  margin-top: var(--sm);
}

.quiz-summary h2 {
  color: var(--blue);
  font-size: var(--sm);
}

.quiz-summary h4 {
  color: lighten(var(--off-black), 10%);
}

.quiz-summary .stats {
  background-color: var(--off-white);
  max-width: 50%;
  padding: var(--sm) var(--md) var(--md) var(--md);
}

.quiz-summary .stats h4,
.stats h2 {
  text-align: center;
}

.quiz-summary .stats .stat {
  color: var(--off-black);
  font-size: var(--normal);
}

.quiz-summary section ul {
  margin-top: var(--sm);
  text-align: center;
}

.quiz-summary section ul li {
  display: inline-block;
}

.quiz-summary section ul li a {
  padding: var(--sm) !important;
}

.quiz-summary section ul li a:hover {
  color: var(--off-white);
}

.quiz-summary section ul li:first-child {
  border: 1px solid var(--blue);
  margin-right: var(--sm);
  transition: 0.3s linear all;
}

.quiz-summary section ul li:first-child:hover {
  background-color: var(--blue);
}

.quiz-summary section ul li:last-child {
  border: 1px solid var(--green);
  transition: 0.3s linear all;
}

.quiz-summary section ul li:last-child:hover {
  background-color: var(--green);
}

.quiz-summary section ul li:last-child a {
  color: var(--green);
}

.quiz-summary section ul li:last-child a:hover {
  color: var(--off-white);
}

.quiz-summary .no-stats {
  color: var(--off-black);
  margin: var(--xxlg) auto;
}


@media (max-width:768px) {
  .quiz-summary {
    font-size: var(--sm);
    padding-left: var(--xs);
    padding-right: var(--xs);
  }

  div.container.stats {
    margin: 0;
    padding: var(--sm);
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width:480px) {
  .options-body {
    flex-direction: column;
  }

  .questions .options-container {
    width: 100%;
  }

  .questions .option {
    margin: var(--md) auto auto;
  }

  .button-container {
    margin-top: var(--md);
  }
  .action-container {
    flex-direction: column;  
  }
  .modal-inner-box .heading{
    font-size: 18px;
  
  }
  .modal-heading {
    font-size: 16px;
  }
  .questions {
  
    width: 95%;
   
  
  }
}